name: CI
on:
  pull_request:
    branches:
      - main
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.node-version'
      - name: Install dependencies
        run: npm ci
      - name: Format check
        run: npm run format:check
      - name: Lint check
        run: npm run lint:check
      - name: Spell check
        run: npm run spell:check
